* {
  margin: 0;
}
body {
  background-color: #f5f6fa;
}


.app__top {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__dropdown {
  background-color: white;
}

.app__header > h1 {
  color: red;
  font-size: 2rem;
}

.app__left {
  flex: 0.9;
}

.app__right {
  display: flex;
  flex-direction: column;
}
.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.app__graph{
  flex-grow: 1;
}
.app__graph2{
  flex-grow: 4;
}


.app__header {
  display: flex;
  algin-items: center;
  margin-bottom: 20px;
  margin-right: 10px;
  justify-content: space-between;
}

.app__graphTitle{
  margin-top:20px;
  margin-bottom: 10px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}



@media (max-width: 800px) {
  .app__top {
    flex-direction: column;
  }
}

.app__bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.app__bottom > h5{ 
  text-align: center;
  font-color: rgb(187, 181, 181);
}

.app__bottomSocialLink {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items:center;
}

.app__bottomIcon{
  font-size: 40px!important;
  margin: 5px;
}